@*@model ShopViewModel

<form asp-action="ChoseTown" method="post">
    <div class="mb-3">
        <label class="form-label">İlçe Seçin</label>
        <select class="form-select" aria-label="Default select example" name="townId">
            <option selected>Dükkanlar</option>
            @foreach (var shop in Model.Shops)
            {
                <option value="@shop.Id">@shop.</option>
            }
        </select>
    </div>
    <button class="btn btn-danger" type="submit" asp-controller="Shop" asp-action="Index">İlçe Seçtim</button>
</form>
*@


@model List<Shop>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Sehir</th>
            <th scope="col">Ilce</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">MailAdress</th>
            <th scope="col">Site</th>


        </tr>
    </thead>

    @foreach (var shop in Model)
    {
        <tbody>
            <tr>
                <th>@shop.Id</th>
                <td>@shop.Name</td>
                <td>@shop.Description</td>
                <td>@shop.CityId</td>
                <td>@shop.TownId</td>
                <td>@shop.PhoneNumber</td>
                <td>@shop.MailAdress</td>
                <td>@shop.Url</td>
            </tr>
        </tbody>
    }
</table>
