@model List<BossViewModel>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ad SoyAd</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">MailAdress</th>
            <th scope="col">BirthOfYear</th>
        </tr>
    </thead>

    @foreach (var boss in Model)
    {
        <tbody>
            <tr>
                <th>@boss.Id</th>
                <td>@boss.BossFullName</td>
                <td>@boss.PhoneNumber</td>
                <td>@boss.MailAdress</td>
                <td>@boss.BirthOfYear</td>
            </tr>
        </tbody>
    }
</table>