@model Boss


<h1>@Model.FirstName @Model.LastName</h1>
<p>Telefon: @Model.PhoneNumber</p>
<p>E-posta: @Model.MailAdress</p>
<p>Cinsiyet: @Model.Gender</p>
<p>Doğum Yılı: @Model.BirthOfYear</p>
<p>İnternet Sitesi: @Model.Url</p>